.CellInput {
   position: relative;

   &__cell_title {
      color: #999;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      margin-bottom: 1px;
      position: absolute;
      top: 11px;
      left: 16px;
      pointer-events: none;
   }

   &__input {
      height: 60px;
      width: 100%;
      line-height: 24px;
      border: solid 1px #ededed;
      border-radius: 12px;
      padding: 26px 16px 10px;

      input {
         width: 100%;
      }
   }

   input:disabled {
      background-color: #F6F6F6;
      border: 0;
   }

   button {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 1px;
      top: calc(50% - 16px);
      background: #fff url('../../assets/icons/cancel.svg') center / contain no-repeat;
   }
}