.MainPage {
   min-height: inherit;
   background-color: #F6F6F6;

   & &__container {
      padding-top: 40px;
      display: grid;
   }

   &__download_btn {
      margin-top: 32px;
      margin-left: auto;
   }

}