.MainPage {
   min-height: inherit;
   background-color: #F6F6F6;

   & &__container {
      padding: 40px 0;
      display: grid;
   }

   &__download_btn {
      margin-top: 32px;
      margin-left: auto;
   }

}