@import '@styles/variable.scss';

.MainHeader {
   box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);

   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 64px;
   }

   &__logo {
      width: 163px;
      height: 64px;
      mask-image: url('@icons/logo.svg');
      -webkit-mask-image: url("@icons/logo.svg");
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      background-color: $mf-green;
   }
}