@import '../../assets/styles/variable.scss';

.Select {
   position: relative;
   white-space: nowrap;

   input {
      cursor: pointer;
   }

   input.Select__valid {
      border-color: $mf-green;
   }

   input.Select__error {
      border-color: $mf-red;
   }

   &__placeholder {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      padding: 0 16px;
      color: #999 !important;
      display: flex !important;
      align-items: center;
      text-align: initial;
      cursor: text;
      transition: .2s;
      pointer-events: none;

      &:after {
         content: '*';
         color: $mf-red;
      }
   }

   &__active {
      .Select__placeholder {
         bottom: 23px;
         font-size: 12px;
      }

      input {
         padding-top: 17px;
      }
   }

   &__list {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      min-width: 100%;
      background-color: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      border: 1px solid #EDEDED;
      padding: 8px 0;
      visibility: hidden;
      opacity: 0;
      transition: .2s;
      text-align: initial;
   }

   &__item {
      padding: 16px;
      cursor: pointer;

      &:hover {
         background-color: #EDEDED;
      }
   }

   &__open {
      .Select__list {
         visibility: visible;
         opacity: 1;
      }
      .Select__icon {
         transform: rotate(180deg);
      }
   }

   &__icon {
      position: absolute;
      mask-image: url("../../assets/icons/arrow-list_down.svg");
      height: 32px;
      width: 32px;
      mask-position: center;
      mask-size: 100%;
      background-color: $mf-green;
      right: 1px;
      top: calc(50% - 16px);
      pointer-events: none;
   }

   input.Select__error + &__icon {
      background-color: $mf-red;
   }
}