.Tabs {
   display: grid;
   grid-template-columns: repeat(3, 172px);
   background-color: #F6F6F6;
   width: fit-content;
   border-radius: 12px;
   padding: 4px;
   gap: 6px;

   &__item {
      color: #999999;
      line-height: 40px;
      font-weight: 500;
      text-align: center;

      input {
         display: none;
      }

      div {
         cursor: pointer;
      }

      input:checked + div {
         background-color: #fff;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
         border-radius: 8px;

         span {
            color: #333333;
         }
      }
   }
}