@import '../../../assets/styles/variable';

$radius: 8px;
$border: solid 1px #ededed;


.TableMatching {
   border: $border;
   border-radius: $radius;

   &__head,
   &__row_main {
      display: grid;
      grid-template-columns: repeat(6, 172px) auto;
   }

   &__row {
      &:not(:last-child) {
         border-bottom: $border;
      }
   }

   &__head {
      &:not(:last-child) {
         border-bottom: $border;
      }

      > *:not(:first-child) {
         border-left: $border;
      }

      > * {
         display: flex;
         align-items: center;
         padding: $radius;
      }

      color: #999;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      border-radius: $radius $radius 0 0;
      background-color: #f6f6f6;
   }

   &__row_main {
      > *:first-child,
      > *:last-child {
         display: flex;
         margin: auto;
      }

      > *:not(:first-child),
      > *:not(:last-child) {
         padding: 16px 8px;
      }
   }

   &__row_table {
      padding: 0 58px 16px;
      border: 1px solid red;
   }




   &__collapse_btn {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      border: $border;
      box-sizing: content-box;
   }

   &__arrow_icon {
      width: inherit;
      height: inherit;
      mask-image: url("../../../assets/icons/arrow.svg");
      mask-position: center;
      background-color: $mf-green;
   }

}

.download_icon {
   width: 32px;
   height: 32px;
   mask-image: url("~@megafon/ui-icons/basic-16-cloud-download_16.svg");
   background-color: $mf-green;
   cursor: pointer;
}