._ {
   :global {
      .mfui-text-field__icon-box {
         padding-right: 5px;
      }

      .mfui-text-field__field {
         padding: 25px 35px 9px 16px;
      }

      .mfui-text-field__field_no-icon {
         padding: 25px 16px 9px;
      }
   }
}
