/*wrapper*/
$wrapperMaxWidth: 1440px;
$wrapperDesktop: 80px;
$wrapperTablet: 48px;
$wrapperMobile: 16px;


/*colors*/
$mf-green: #00b956;
$mf-green-light: #DDFFEC;
$mf-fiolet: #731982;
$mf-fiolet-hover: #B808D4;
$mf-blue: #34AAF2;
$mf-red: #EB413C;
$mf-orange: #EB5A40;
$mf-orange-light: #FFA717;
$mf-premium: #444189;
$mf-premium-hov: #554FC9;
$mf-premium-light: #EBEAFF;