.Counter {
   display: flex;
   height: 30px;

   &__minus,
   &__plus {
      width: 30px;
      border: 1px solid #d9d9d9;
      background-color: #fff;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      user-select: none;
      color: #333;

      &:hover {
         color: var(--mf-green);
      }
   }

   &__minus {
      border-radius: 15px 0 0 15px;
   }

   &__plus {
      border-radius: 0 15px 15px 0;
   }

   input {
      height: 100%;
      width: 62px;
      border: 1px solid #d9d9d9;
      outline: none;
      line-height: 30px;
      margin: 0 -1px;
      font-weight: 500;
      padding: 0;
      text-align: center;
      border-radius: 0;
      box-shadow: none;
   }
}
